* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

header {
  width: 100%;
  height: 110vh;
  background: url(../images/Slider.jpg) no-repeat;
  background-position: center;
  background-position-y: top;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
header nav {
  width: 100%;
  height: 16vh;
  background-color: #fff;
}
header nav .nav_1 {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}
header nav .nav_1 .nav_left h1 {
  color: #67686d;
  font-family: "RobotoCondensed-Regular";
  text-transform: uppercase;
  font-size: 22px;
}
header nav .nav_1 .nav_left h1:hover {
  cursor: pointer;
  color: #656566;
}
header nav .nav_1 .nav_right {
  font-family: "Roboto-Bold";
  font-size: 12px;
  color: #939497;
}
header nav .nav_1 .nav_right i {
  margin: 0 4px;
}
header nav .nav_1 .nav_right .nomer {
  margin-right: 10px;
}
header nav .nav_1 .nav_right .nomer:hover {
  cursor: pointer;
  color: #656566;
}
header nav .nav_1 .nav_right .email {
  margin-right: 50px;
}
header nav .nav_1 .nav_right .email:hover {
  cursor: pointer;
  color: #656566;
}
header nav .nav_1 .nav_right .card {
  border: 1px solid #d8d8d8;
  padding: 5px 5px;
}
header nav .nav_1 .nav_right .card:hover {
  cursor: pointer;
  color: #656566;
}
header nav .navbar_menyu {
  width: 85%;
  margin: 0 auto;
}
header nav .navbar_menyu hr {
  height: 1px;
  background-color: #e4e4e4;
  margin-bottom: 10px;
}
header nav .navbar_menyu a {
  margin-right: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: #868688;
  font-family: "Roboto-Regular";
  font-size: 14px;
  transition: 0.3s ease;
}
header nav .navbar_menyu a:hover {
  color: #d36c18;
  transform: scale(2);
}
header .header_body {
  width: 85%;
  margin: 0 auto;
  margin-top: 150px;
  color: #fff;
}
header .header_body h2 {
  font-family: "Roboto-Bold";
  font-size: 50px;
  text-transform: uppercase;
}
header .header_body p {
  font-family: "Roboto-Medium";
  font-size: 16px;
  color: #acacac;
  margin-bottom: 30px;
}
header .header_body a {
  padding: 10px 20px;
  background-color: #f45a40;
  text-transform: uppercase;
  font-family: "Roboto-Regular";
  font-size: 14px;
  text-decoration: none;
  color: #fff;
  border-radius: 2px;
  transition: 0.3s ease;
}
header .header_body a:hover {
  background-color: #fff;
  color: #f45a40;
}

.container {
  width: 85%;
  margin: 0 auto;
  margin-top: 65px;
}
.container .photos {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .photos .card {
  width: 31%;
}
.container .photos .card img {
  width: 100%;
}
.container .photos .card h5 {
  font-size: 25px;
  font-family: "RobotoCondensed-Regular";
  text-transform: uppercase;
  color: #f57059;
  padding: 1rem 0;
}
.container .photos .card p {
  color: #999;
  font-family: "Roboto-Regular";
  font-size: 16px;
}
.container .popular h3 {
  text-align: center;
  margin: 50px 0;
  color: #67686d;
  font-family: "RobotoCondensed-Regular";
  font-size: 23px;
  text-transform: uppercase;
}
.container .popular .popular_card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .popular .popular_card .card {
  width: 23%;
  border: 1px solid #dfdfdf;
}
.container .popular .popular_card .card .card-body {
  width: 100%;
  overflow: hidden;
}
.container .popular .popular_card .card .card-body img {
  width: 100%;
  transition: 0.5s ease;
}
.container .popular .popular_card .card .card-body img:hover {
  transform: scale(1.2);
}
.container .popular .popular_card .card .card-footer {
  padding: 10px 20px;
}
.container .popular .popular_card .card .card-footer h4 {
  font-size: 20px;
  font-family: "Roboto-Medium";
  color: #717277;
  text-transform: uppercase;
  padding-bottom: 5px;
}
.container .popular .popular_card .card .card-footer i {
  font-size: 16px;
  text-transform: uppercase;
  color: #888;
}
.container .popular .popular_card .card .card-footer p {
  color: #999;
  padding-top: 5px;
  font-size: 16px;
}
.container .popular .popular_card .card .card-footer .foot-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #dbdbdb;
  margin-top: 15px;
  padding: 8px 0;
}
.container .popular .popular_card .card .card-footer .foot-footer p {
  color: #f78673;
  font-family: "Roboto-Medium";
  font-size: 14px;
}
.container .biruang {
  margin-top: 70px;
  margin-bottom: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .biruang .biruang-left {
  width: 22%;
}
.container .biruang .biruang-left h3 {
  font-family: "Roboto-Bold";
  font-size: 25px;
  text-transform: capitalize;
  color: #67686d;
  margin-bottom: 30px;
}
.container .biruang .biruang-left .rang {
  color: #f45a40;
}
.container .biruang .biruang-left p {
  font-family: "RobotoCondensed-Regular";
  text-transform: uppercase;
  font-size: 14px;
  color: #9b9b9b;
  margin-bottom: 30px;
}
.container .biruang .biruang-left .icons a {
  text-decoration: none;
  color: black;
}
.container .biruang .biruang-left .icons a i {
  margin-right: 20px;
  transition: 0.3s ease;
}
.container .biruang .biruang-left .icons a i:hover {
  transform: scale(1.3);
  cursor: pointer;
}
.container .biruang .biruang-left .icons a:first-child {
  color: #ef4035;
}
.container .biruang .biruang-center {
  width: 45%;
  border-left: 1px solid #d4d4d4;
  padding-top: 15px;
}
.container .biruang .biruang-center p {
  padding: 10px;
  color: #aaaaaa;
  font-family: "Roboto-Italic";
  font-size: 14px;
}
.container .biruang .biruang-right {
  width: 30%;
}
.container .biruang .biruang-right iframe {
  width: 100%;
  height: 200px;
}

.footer-qizil {
  width: 100%;
  background-color: #f45a40;
  padding: 30px 0;
}
.footer-qizil .ichi {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-qizil .ichi p {
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  font-family: "RobotoCondensed-Bold";
}
.footer-qizil .ichi .ich {
  color: #fff;
  text-transform: uppercase;
  font-size: 23px;
}
.footer-qizil .ichi .form input {
  padding: 10px;
  width: 200px;
  outline: none;
  border: none;
  margin-right: 10px;
}
.footer-qizil .ichi .form span a {
  text-decoration: none;
  color: #fff;
  padding: 10px;
  background-color: #ff674f;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Roboto-Regular";
}

.footer-qora {
  background-color: #2a2d34;
  padding: 40px 0;
}
.footer-qora .ichi-shuni {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.footer-qora .ichi-shuni .box-1 {
  width: 20%;
}
.footer-qora .ichi-shuni .box-1 h3 {
  font-family: "RobotoCondensed-Regular";
  font-size: 20px;
  color: #fff;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.footer-qora .ichi-shuni .box-1 p {
  margin-bottom: 15px;
  font-size: 14px;
  font-family: "Roboto-Medium";
  color: #626469;
}
.footer-qora .ichi-shuni .box-1 a {
  text-decoration: none;
  color: #fff;
}
.footer-qora .ichi-shuni .box-1 a i {
  margin-top: 20px;
  margin-right: 20px;
  transition: 0.3s ease;
}
.footer-qora .ichi-shuni .box-1 a i:hover {
  transform: scale(1.3);
  cursor: pointer;
}
.footer-qora .ichi-shuni .box-1 a:first-child {
  color: #ef4035;
}
.footer-qora .ichi-shuni .box-2 {
  width: 30%;
}
.footer-qora .ichi-shuni .box-2 h3 {
  font-family: "RobotoCondensed-Regular";
  font-size: 20px;
  color: #fff;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.footer-qora .ichi-shuni .box-2 p {
  font-family: "Roboto-Medium";
  font-size: 14px;
}
.footer-qora .ichi-shuni .box-2 p:nth-child(even) {
  color: #fff;
}
.footer-qora .ichi-shuni .box-2 p:nth-child(odd) {
  color: #626469;
  margin-bottom: 15px;
}
.footer-qora .ichi-shuni .box-3 {
  width: 10%;
}
.footer-qora .ichi-shuni .box-3 h3 {
  font-family: "RobotoCondensed-Regular";
  font-size: 20px;
  color: #fff;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.footer-qora .ichi-shuni .box-3 p {
  font-family: "Roboto-Medium";
  font-size: 14px;
  color: #626469;
}
.footer-qora .ichi-shuni .box-4 {
  width: 10%;
}
.footer-qora .ichi-shuni .box-4 h3 {
  font-family: "RobotoCondensed-Regular";
  font-size: 20px;
  color: #fff;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.footer-qora .ichi-shuni .box-4 p {
  font-family: "Roboto-Medium";
  font-size: 14px;
  color: #626469;
  text-transform: uppercase;
}
.footer-qora .ichi-shuni .box-5 {
  width: 20%;
}
.footer-qora .ichi-shuni .box-5 h3 {
  font-family: "RobotoCondensed-Regular";
  font-size: 20px;
  color: #fff;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.footer-qora .ichi-shuni .box-5 input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 13px;
  outline: none;
  border: none;
}
.footer-qora .ichi-shuni .box-5 input::-moz-placeholder {
  color: #999;
  text-transform: uppercase;
}
.footer-qora .ichi-shuni .box-5 input:-ms-input-placeholder {
  color: #999;
  text-transform: uppercase;
}
.footer-qora .ichi-shuni .box-5 input::placeholder {
  color: #999;
  text-transform: uppercase;
}
.footer-qora .ichi-shuni .box-5 textarea {
  width: 100%;
  height: 60px;
  padding: 10px;
  resize: none;
  outline: none;
  border: none;
  margin-bottom: 20px;
}
.footer-qora .ichi-shuni .box-5 textarea::-moz-placeholder {
  color: #999;
  text-transform: uppercase;
}
.footer-qora .ichi-shuni .box-5 textarea:-ms-input-placeholder {
  color: #999;
  text-transform: uppercase;
}
.footer-qora .ichi-shuni .box-5 textarea::placeholder {
  color: #999;
  text-transform: uppercase;
}
.footer-qora .ichi-shuni .box-5 a {
  padding: 10px 20px;
  background-color: #f45a40;
  text-transform: uppercase;
  font-family: "Roboto-Regular";
  font-size: 14px;
  text-decoration: none;
  color: #fff;
  border-radius: 2px;
  transition: 0.3s ease;
  margin-top: 10px;
}
.footer-qora .ichi-shuni .box-5 a:hover {
  background-color: #fff;
  color: #f45a40;
}

@media (max-width: 590px) {
  header {
    width: 100%;
    height: 120vh;
    background: url(../images/Slider.jpg) no-repeat;
    background-position: center;
    background-position-y: top;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
  }
  header nav {
    width: 100%;
    height: 16vh;
    background-color: #fff;
  }
  header nav .nav_1 {
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
  }
  header nav .nav_1 .nav_left h1 {
    color: #67686d;
    font-family: "RobotoCondensed-Regular";
    text-transform: uppercase;
    font-size: 18px;
  }
  header nav .nav_1 .nav_right {
    font-family: "Roboto-Bold";
    font-size: 10px;
    color: #939497;
  }
  header nav .nav_1 .nav_right i {
    margin: 0 4px;
  }
  header nav .nav_1 .nav_right .nomer {
    margin-right: 10px;
  }
  header nav .nav_1 .nav_right .email {
    margin-right: 10px;
  }
  header nav .nav_1 .nav_right .card {
    border: 1px solid #d8d8d8;
    padding: 5px 5px;
  }
  header nav .navbar_menyu {
    width: 95%;
    margin: 0 auto;
  }
  header nav .navbar_menyu hr {
    height: 1px;
    background-color: #e4e4e4;
    margin-bottom: 10px;
  }
  header nav .navbar_menyu a {
    margin-right: 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: #868688;
    font-family: "Roboto-Regular";
    font-size: 11px;
    transition: 0.3s ease;
  }
  header nav .navbar_menyu a:hover {
    color: #d36c18;
    transform: scale(2);
  }
  header .header_body {
    width: 85%;
    margin: 0 auto;
    margin-top: 150px;
    color: #fff;
  }
  header .header_body h2 {
    font-family: "Roboto-Bold";
    font-size: 30px;
    text-transform: uppercase;
  }
  header .header_body p {
    font-family: "Roboto-Medium";
    font-size: 13px;
    color: #acacac;
    margin-bottom: 30px;
  }
  header .header_body a {
    padding: 8px 16px;
    background-color: #f45a40;
    text-transform: uppercase;
    font-family: "Roboto-Regular";
    font-size: 11px;
    text-decoration: none;
    color: #fff;
    border-radius: 2px;
    transition: 0.3s ease;
  }
  header .header_body a:hover {
    background-color: #fff;
    color: #f45a40;
  }

  .container {
    width: 95%;
    margin: 0 auto;
    margin-top: 65px;
  }
  .container .photos {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }
  .container .photos .card {
    width: 98%;
    margin-bottom: 20px;
  }
  .container .photos .card img {
    width: 100%;
  }
  .container .photos .card h5 {
    font-size: 20px;
    font-family: "RobotoCondensed-Regular";
    text-transform: uppercase;
    color: #f57059;
    padding: 1rem 0;
  }
  .container .photos .card p {
    color: #999;
    font-family: "Roboto-Regular";
    font-size: 12px;
  }
  .container .popular h3 {
    text-align: center;
    margin: 50px 0;
    color: #67686d;
    font-family: "RobotoCondensed-Regular";
    font-size: 20px;
    text-transform: uppercase;
  }
  .container .popular .popular_card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }
  .container .popular .popular_card .card {
    margin-bottom: 20px;
    width: 98%;
    border: 1px solid #dfdfdf;
  }
  .container .popular .popular_card .card .card-body {
    width: 100%;
    overflow: hidden;
  }
  .container .popular .popular_card .card .card-body img {
    width: 100%;
    transition: 0.5s ease;
  }
  .container .popular .popular_card .card .card-body img:hover {
    transform: scale(1.2);
  }
  .container .popular .popular_card .card .card-footer {
    padding: 10px 20px;
  }
  .container .popular .popular_card .card .card-footer h4 {
    font-size: 18px;
    font-family: "Roboto-Medium";
    color: #717277;
    text-transform: uppercase;
    padding-bottom: 5px;
  }
  .container .popular .popular_card .card .card-footer i {
    font-size: 14px;
    text-transform: uppercase;
    color: #888;
  }
  .container .popular .popular_card .card .card-footer p {
    color: #999;
    padding-top: 5px;
    font-size: 14px;
  }
  .container .popular .popular_card .card .card-footer .foot-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #dbdbdb;
    margin-top: 15px;
    padding: 8px 0;
  }
  .container .popular .popular_card .card .card-footer .foot-footer p {
    color: #f78673;
    font-family: "Roboto-Medium";
    font-size: 12px;
  }
  .container .biruang {
    margin-top: 70px;
    margin-bottom: 70px;
    width: 98%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .container .biruang .biruang-left {
    width: 38%;
  }
  .container .biruang .biruang-left h3 {
    font-family: "Roboto-Bold";
    font-size: 22px;
    text-transform: capitalize;
    color: #67686d;
    margin-bottom: 30px;
  }
  .container .biruang .biruang-left .rang {
    color: #f45a40;
  }
  .container .biruang .biruang-left p {
    font-family: "RobotoCondensed-Regular";
    text-transform: uppercase;
    font-size: 12px;
    color: #9b9b9b;
    margin-bottom: 30px;
  }
  .container .biruang .biruang-left .icons a {
    text-decoration: none;
    color: black;
  }
  .container .biruang .biruang-left .icons a i {
    margin-right: 15px;
    transition: 0.3s ease;
  }
  .container .biruang .biruang-left .icons a i:hover {
    transform: scale(1.3);
    cursor: pointer;
  }
  .container .biruang .biruang-left .icons a:first-child {
    color: #ef4035;
  }
  .container .biruang .biruang-center {
    margin-bottom: 20px;
    width: 55%;
    border-left: 1px solid #d4d4d4;
    padding-top: 15px;
  }
  .container .biruang .biruang-center p {
    padding: 10px;
    color: #aaaaaa;
    font-family: "Roboto-Italic";
    font-size: 14px;
  }
  .container .biruang .biruang-right {
    width: 98%;
  }
  .container .biruang .biruang-right iframe {
    width: 100%;
    height: 200px;
  }

  .footer-qizil .ichi {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  .footer-qizil .ichi p {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .footer-qora {
    background-color: #2a2d34;
    padding: 40px 0;
  }
  .footer-qora .ichi-shuni {
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  .footer-qora .ichi-shuni .box-1 {
    width: 20%;
  }
  .footer-qora .ichi-shuni .box-1 h3 {
    font-family: "RobotoCondensed-Regular";
    font-size: 14px;
    color: #fff;
    margin-bottom: 15px;
    text-transform: uppercase;
  }
  .footer-qora .ichi-shuni .box-1 p {
    margin-bottom: 15px;
    font-size: 14px;
    font-family: "Roboto-Medium";
    color: #626469;
  }
  .footer-qora .ichi-shuni .box-1 a {
    text-decoration: none;
    color: #fff;
  }
  .footer-qora .ichi-shuni .box-1 a i {
    margin-top: 20px;
    margin-right: 20px;
    transition: 0.3s ease;
  }
  .footer-qora .ichi-shuni .box-1 a i:hover {
    transform: scale(1.3);
    cursor: pointer;
  }
  .footer-qora .ichi-shuni .box-1 a:first-child {
    color: #ef4035;
  }
  .footer-qora .ichi-shuni .box-2 {
    width: 30%;
  }
  .footer-qora .ichi-shuni .box-2 h3 {
    font-family: "RobotoCondensed-Regular";
    font-size: 14px;
    color: #fff;
    margin-bottom: 15px;
    text-transform: uppercase;
  }
  .footer-qora .ichi-shuni .box-2 p {
    font-family: "Roboto-Medium";
    font-size: 14px;
  }
  .footer-qora .ichi-shuni .box-2 p:nth-child(even) {
    color: #fff;
  }
  .footer-qora .ichi-shuni .box-2 p:nth-child(odd) {
    color: #626469;
    margin-bottom: 15px;
  }
  .footer-qora .ichi-shuni .box-3 {
    width: 14%;
  }
  .footer-qora .ichi-shuni .box-3 h3 {
    font-family: "RobotoCondensed-Regular";
    font-size: 14px;
    color: #fff;
    margin-bottom: 15px;
    text-transform: uppercase;
  }
  .footer-qora .ichi-shuni .box-3 p {
    font-family: "Roboto-Medium";
    font-size: 14px;
    color: #626469;
  }
  .footer-qora .ichi-shuni .box-4 {
    width: 8%;
  }
  .footer-qora .ichi-shuni .box-4 h3 {
    font-family: "RobotoCondensed-Regular";
    font-size: 14px;
    color: #fff;
    margin-bottom: 15px;
    text-transform: uppercase;
  }
  .footer-qora .ichi-shuni .box-4 p {
    font-family: "Roboto-Medium";
    font-size: 14px;
    color: #626469;
    text-transform: uppercase;
  }
  .footer-qora .ichi-shuni .box-5 {
    width: 23%;
  }
  .footer-qora .ichi-shuni .box-5 h3 {
    font-family: "RobotoCondensed-Regular";
    font-size: 14px;
    color: #fff;
    margin-bottom: 15px;
    text-transform: uppercase;
  }
  .footer-qora .ichi-shuni .box-5 input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 13px;
    outline: none;
    border: none;
  }
  .footer-qora .ichi-shuni .box-5 input::-moz-placeholder {
    color: #999;
    text-transform: uppercase;
  }
  .footer-qora .ichi-shuni .box-5 input:-ms-input-placeholder {
    color: #999;
    text-transform: uppercase;
  }
  .footer-qora .ichi-shuni .box-5 input::placeholder {
    color: #999;
    text-transform: uppercase;
  }
  .footer-qora .ichi-shuni .box-5 textarea {
    width: 100%;
    height: 60px;
    padding: 10px;
    resize: none;
    outline: none;
    border: none;
    margin-bottom: 10px;
  }
  .footer-qora .ichi-shuni .box-5 textarea::-moz-placeholder {
    color: #999;
    text-transform: uppercase;
  }
  .footer-qora .ichi-shuni .box-5 textarea:-ms-input-placeholder {
    color: #999;
    text-transform: uppercase;
  }
  .footer-qora .ichi-shuni .box-5 textarea::placeholder {
    color: #999;
    text-transform: uppercase;
  }
  .footer-qora .ichi-shuni .box-5 a {
    padding: 6px 12px;
    background-color: #f45a40;
    text-transform: uppercase;
    font-family: "Roboto-Regular";
    font-size: 8px;
    text-decoration: none;
    color: #fff;
    border-radius: 2px;
    transition: 0.3s ease;
  }
  .footer-qora .ichi-shuni .box-5 a:hover {
    background-color: #fff;
    color: #f45a40;
  }
}
@media (min-width: 591px) and (max-width: 1000px) {
  header {
    width: 100%;
    height: 120vh;
    background: url(../images/Slider.jpg) no-repeat;
    background-position: center;
    background-position-y: top;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
  }
  header nav {
    width: 100%;
    height: 16vh;
    background-color: #fff;
  }
  header nav .nav_1 {
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
  }
  header nav .nav_1 .nav_left h1 {
    color: #67686d;
    font-family: "RobotoCondensed-Regular";
    text-transform: uppercase;
    font-size: 18px;
  }
  header nav .nav_1 .nav_right {
    font-family: "Roboto-Bold";
    font-size: 10px;
    color: #939497;
  }
  header nav .nav_1 .nav_right i {
    margin: 0 4px;
  }
  header nav .nav_1 .nav_right .nomer {
    margin-right: 10px;
  }
  header nav .nav_1 .nav_right .email {
    margin-right: 10px;
  }
  header nav .nav_1 .nav_right .card {
    border: 1px solid #d8d8d8;
    padding: 5px 5px;
  }
  header nav .navbar_menyu {
    width: 95%;
    margin: 0 auto;
  }
  header nav .navbar_menyu hr {
    height: 1px;
    background-color: #e4e4e4;
    margin-bottom: 10px;
  }
  header nav .navbar_menyu a {
    margin-right: 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: #868688;
    font-family: "Roboto-Regular";
    font-size: 11px;
    transition: 0.3s ease;
  }
  header nav .navbar_menyu a:hover {
    color: #d36c18;
    transform: scale(2);
  }
  header .header_body {
    width: 85%;
    margin: 0 auto;
    margin-top: 150px;
    color: #fff;
  }
  header .header_body h2 {
    font-family: "Roboto-Bold";
    font-size: 30px;
    text-transform: uppercase;
  }
  header .header_body p {
    font-family: "Roboto-Medium";
    font-size: 13px;
    color: #acacac;
    margin-bottom: 30px;
  }
  header .header_body a {
    padding: 8px 16px;
    background-color: #f45a40;
    text-transform: uppercase;
    font-family: "Roboto-Regular";
    font-size: 11px;
    text-decoration: none;
    color: #fff;
    border-radius: 2px;
    transition: 0.3s ease;
  }
  header .header_body a:hover {
    background-color: #fff;
    color: #f45a40;
  }

  .container {
    width: 95%;
    margin: 0 auto;
    margin-top: 65px;
  }
  .container .photos {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }
  .container .photos .card {
    width: 98%;
    margin-bottom: 20px;
  }
  .container .photos .card img {
    width: 100%;
  }
  .container .photos .card h5 {
    font-size: 20px;
    font-family: "RobotoCondensed-Regular";
    text-transform: uppercase;
    color: #f57059;
    padding: 1rem 0;
  }
  .container .photos .card p {
    color: #999;
    font-family: "Roboto-Regular";
    font-size: 12px;
  }
  .container .popular h3 {
    text-align: center;
    margin: 50px 0;
    color: #67686d;
    font-family: "RobotoCondensed-Regular";
    font-size: 20px;
    text-transform: uppercase;
  }
  .container .popular .popular_card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .container .popular .popular_card .card {
    margin-bottom: 20px;
    width: 48%;
    border: 1px solid #dfdfdf;
  }
  .container .popular .popular_card .card .card-body {
    width: 100%;
    overflow: hidden;
  }
  .container .popular .popular_card .card .card-body img {
    width: 100%;
    transition: 0.5s ease;
  }
  .container .popular .popular_card .card .card-body img:hover {
    transform: scale(1.2);
  }
  .container .popular .popular_card .card .card-footer {
    padding: 10px 20px;
  }
  .container .popular .popular_card .card .card-footer h4 {
    font-size: 18px;
    font-family: "Roboto-Medium";
    color: #717277;
    text-transform: uppercase;
    padding-bottom: 5px;
  }
  .container .popular .popular_card .card .card-footer i {
    font-size: 14px;
    text-transform: uppercase;
    color: #888;
  }
  .container .popular .popular_card .card .card-footer p {
    color: #999;
    padding-top: 5px;
    font-size: 14px;
  }
  .container .popular .popular_card .card .card-footer .foot-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #dbdbdb;
    margin-top: 15px;
    padding: 8px 0;
  }
  .container .popular .popular_card .card .card-footer .foot-footer p {
    color: #f78673;
    font-family: "Roboto-Medium";
    font-size: 12px;
  }
  .container .biruang {
    margin-top: 70px;
    margin-bottom: 70px;
    width: 98%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .container .biruang .biruang-left {
    width: 38%;
  }
  .container .biruang .biruang-left h3 {
    font-family: "Roboto-Bold";
    font-size: 22px;
    text-transform: capitalize;
    color: #67686d;
    margin-bottom: 30px;
  }
  .container .biruang .biruang-left .rang {
    color: #f45a40;
  }
  .container .biruang .biruang-left p {
    font-family: "RobotoCondensed-Regular";
    text-transform: uppercase;
    font-size: 12px;
    color: #9b9b9b;
    margin-bottom: 30px;
  }
  .container .biruang .biruang-left .icons a {
    text-decoration: none;
    color: black;
  }
  .container .biruang .biruang-left .icons a i {
    margin-right: 15px;
    transition: 0.3s ease;
  }
  .container .biruang .biruang-left .icons a i:hover {
    transform: scale(1.3);
    cursor: pointer;
  }
  .container .biruang .biruang-left .icons a:first-child {
    color: #ef4035;
  }
  .container .biruang .biruang-center {
    margin-bottom: 20px;
    width: 55%;
    border-left: 1px solid #d4d4d4;
    padding-top: 15px;
  }
  .container .biruang .biruang-center p {
    padding: 10px;
    color: #aaaaaa;
    font-family: "Roboto-Italic";
    font-size: 14px;
  }
  .container .biruang .biruang-right {
    width: 98%;
  }
  .container .biruang .biruang-right iframe {
    width: 100%;
    height: 200px;
  }

  .footer-qizil .ichi {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  .footer-qizil .ichi p {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .footer-qora {
    background-color: #2a2d34;
    padding: 40px 0;
  }
  .footer-qora .ichi-shuni {
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  .footer-qora .ichi-shuni .box-1 {
    width: 20%;
  }
  .footer-qora .ichi-shuni .box-1 h3 {
    font-family: "RobotoCondensed-Regular";
    font-size: 14px;
    color: #fff;
    margin-bottom: 15px;
    text-transform: uppercase;
  }
  .footer-qora .ichi-shuni .box-1 p {
    margin-bottom: 15px;
    font-size: 14px;
    font-family: "Roboto-Medium";
    color: #626469;
  }
  .footer-qora .ichi-shuni .box-1 a {
    text-decoration: none;
    color: #fff;
  }
  .footer-qora .ichi-shuni .box-1 a i {
    margin-top: 20px;
    margin-right: 20px;
    transition: 0.3s ease;
  }
  .footer-qora .ichi-shuni .box-1 a i:hover {
    transform: scale(1.3);
    cursor: pointer;
  }
  .footer-qora .ichi-shuni .box-1 a:first-child {
    color: #ef4035;
  }
  .footer-qora .ichi-shuni .box-2 {
    width: 30%;
  }
  .footer-qora .ichi-shuni .box-2 h3 {
    font-family: "RobotoCondensed-Regular";
    font-size: 14px;
    color: #fff;
    margin-bottom: 15px;
    text-transform: uppercase;
  }
  .footer-qora .ichi-shuni .box-2 p {
    font-family: "Roboto-Medium";
    font-size: 14px;
  }
  .footer-qora .ichi-shuni .box-2 p:nth-child(even) {
    color: #fff;
  }
  .footer-qora .ichi-shuni .box-2 p:nth-child(odd) {
    color: #626469;
    margin-bottom: 15px;
  }
  .footer-qora .ichi-shuni .box-3 {
    width: 14%;
  }
  .footer-qora .ichi-shuni .box-3 h3 {
    font-family: "RobotoCondensed-Regular";
    font-size: 14px;
    color: #fff;
    margin-bottom: 15px;
    text-transform: uppercase;
  }
  .footer-qora .ichi-shuni .box-3 p {
    font-family: "Roboto-Medium";
    font-size: 14px;
    color: #626469;
  }
  .footer-qora .ichi-shuni .box-4 {
    width: 8%;
  }
  .footer-qora .ichi-shuni .box-4 h3 {
    font-family: "RobotoCondensed-Regular";
    font-size: 14px;
    color: #fff;
    margin-bottom: 15px;
    text-transform: uppercase;
  }
  .footer-qora .ichi-shuni .box-4 p {
    font-family: "Roboto-Medium";
    font-size: 14px;
    color: #626469;
    text-transform: uppercase;
  }
  .footer-qora .ichi-shuni .box-5 {
    width: 23%;
  }
  .footer-qora .ichi-shuni .box-5 h3 {
    font-family: "RobotoCondensed-Regular";
    font-size: 14px;
    color: #fff;
    margin-bottom: 15px;
    text-transform: uppercase;
  }
  .footer-qora .ichi-shuni .box-5 input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 13px;
    outline: none;
    border: none;
  }
  .footer-qora .ichi-shuni .box-5 input::-moz-placeholder {
    color: #999;
    text-transform: uppercase;
  }
  .footer-qora .ichi-shuni .box-5 input:-ms-input-placeholder {
    color: #999;
    text-transform: uppercase;
  }
  .footer-qora .ichi-shuni .box-5 input::placeholder {
    color: #999;
    text-transform: uppercase;
  }
  .footer-qora .ichi-shuni .box-5 textarea {
    width: 100%;
    height: 60px;
    padding: 10px;
    resize: none;
    outline: none;
    border: none;
    margin-bottom: 10px;
  }
  .footer-qora .ichi-shuni .box-5 textarea::-moz-placeholder {
    color: #999;
    text-transform: uppercase;
  }
  .footer-qora .ichi-shuni .box-5 textarea:-ms-input-placeholder {
    color: #999;
    text-transform: uppercase;
  }
  .footer-qora .ichi-shuni .box-5 textarea::placeholder {
    color: #999;
    text-transform: uppercase;
  }
  .footer-qora .ichi-shuni .box-5 a {
    padding: 6px 12px;
    background-color: #f45a40;
    text-transform: uppercase;
    font-family: "Roboto-Regular";
    font-size: 8px;
    text-decoration: none;
    color: #fff;
    border-radius: 2px;
    transition: 0.3s ease;
  }
  .footer-qora .ichi-shuni .box-5 a:hover {
    background-color: #fff;
    color: #f45a40;
  }
}/*# sourceMappingURL=index.css.map */